@import "~bootstrap/scss/bootstrap";

.bibliography {
  list-style: none;

  li {
    text-indent: -2em;
    padding-bottom: 10px;
  }
}

@include media-breakpoint-down(xs) {
  .bibliography {
    li {
      font-size: 0.7rem;
    }
  }
}
