@import "~bootstrap/scss/bootstrap";

/*nav*/
#sidebar {
  vertical-align: middle;
  padding: 0;
  border-bottom: 1px solid grey;
  .sidebar-header {
    display: flex;
    padding: 1em;
    align-content: center;
    justify-content: space-between;

    .toggle-sidebar {
      padding: 0 0.5rem;
      margin-left: 0.5rem;
    }
  }

  nav {
    display: none;
    &.active {
      display: block;
    }
  }

  .nav-link {
    &:hover {
      cursor: pointer;
    }
  }

  h4 {
    margin: 0;
    display: inline-block;
  }

  .sub-nav {
    display: none;
    &.active {
      display: block;
    }
  }
}

@include media-breakpoint-up(md) {
  #sidebar {
    padding: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    border-right: 1px solid grey;

    .sidebar-header {
      border-bottom: 1px solid grey;
      .btn {
        display: none;
      }
    }

    nav {
      border-bottom: none;
      display: block;
      max-height: calc(100vh - 5.5rem);
      overflow: auto;
    }
  }
}
