@import "~bootstrap/scss/bootstrap";
@import "./normalize.css";

/*General Styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

p {
  font-family: Raleway;
}

body,
html {
  min-height: 100%;
  font-family: Raleway;
}

button {
  background: none;
  outline: none;
}
