@import '~bootstrap/scss/bootstrap';
@import './styling/normalize.css';

/*General Styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

p {
  font-family: Raleway;
}

/*header*/
#intro {
  z-index: 1;
  padding: 3rem 0;
  position: fixed;
  top: 0;
  background-color: #00204a;
  width: 100%;
  height: 100%;

  .container {
    height: 100%;
  }

  h1 {
    color: #d9faff;
  }

  button {
    background: none;
    border: none;
    svg {
      color: #d9faff;
      font-size: 4em;
    }
  }
}

/*nav*/

#sidebar .sidebar-header {
  padding: 20px;
}
